.button {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  padding: 10px;
  text-align: center;
  transition: 0.5s;
  color: #fff;
  border-radius: 15px;
  cursor: pointer;
  display: inline-block;
  margin: 0 10px 0 10px;

  background: linear-gradient(
    90deg,
    rgba(18, 255, 247, 0.57) -13.46%,
    rgba(179, 255, 171, 0.57) 114.23%
  );
  border-width: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
}
